/* CSS Document */
body
{
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
}
input[type="submit"]
{
background:#33CC33;
color:white;
border-style:outset;
border-color:#0066A2;
height:25px;
font: bold 15px arial,sans-serif;
}
table 
{
width:100%;
border-color:white;
border-width:1px;
border-style:solid;
border-collapse:collapse;
color:white;
background:#005B7F;
}
table td
{
border-color:white;
border-width:1px;
border-style:solid;
}
.category
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
background:#FFFFFF;
line-height:16px;
}
.category ul
{
list-style-type: none;
}
.category a
{
display:block;
margin:0 auto;
font-weight:bold;
color:#FFFFFF;
width:180px;
text-align:center;
text-decoration:none;
padding:2px;
background-color:#005B7F; 
border-style:none;
border-bottom:medium solid white;
}
.category a:hover , .category a:active
{
background-color:#009B7F;
}
.sale_info
{
background-color:#FFFFFF;
color:#005B7F;
height:12px;
font: bold 10px arial,sans-serif;
}
.receipt
{
width: 72mm;
margin: 0;
float: none;
font-size: 12px;
}
.receipt table
{
width: 100%;
font-size: 10px;
}
.receipt table td
{
text-align: center;
}
